.navbar-nav{
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	text-align: center;
}

.navbar-nav li{
    margin-right: 2em;
}

.header{
    height: 100vh;
    background-image: url("../img/satellite.jpg");
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    /* background-position: center; */
}

.about{
    margin-top: 2em;
}

h1, h2{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.2em;
}

.about img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.client{
    /* border: 1px solid black; */
    /* background: lightgrey; */
    margin: 0 auto;
    margin-top: 30px;
}

.client div{
    /* border: 1px solid black; */
    
}

.client-logo *{
    display: inline-block;
}

.client-logo{
    width: fit-content;
    margin: 0 auto;
}

.sponsor{
    /* border: 10px solid red; */
    width: fit-content;
    margin: 0 auto;
}

.sponsor *{
    margin-right: 40px;
}

.div{
    width: 50%;
    height: 2px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 38%, rgba(252,176,69,1) 79%);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header h1{
    color: rgb(248, 233, 233);
    font-size: 2.5em;
    text-align: center;
    padding-top: 5em;
}


.contact img, .contact p{
    display: inline-block;
}

.contact img{
    margin-right: 15px;
}

footer{
    background: lightgray;
    position:absolute;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    margin-top: 30px;
    /* height: 2em; */
    /* line-height: 2em; */
}

.about p{
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
}

.brand{
    font-family: 'Nunito Sans', sans-serif;
}
